html,
body,
h1 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

body {
  font-family: 'Gill sans', 'helvetica', sans-serif;
  background: url("http://lmkootz.github.io/project2/img/honeymobilebg.png");
}
/* Global Header things */

header .logo {
  border: solid 2px black;
  display: block;
  width: 100px;
  margin: 0 auto;
}

.display-menu {
  background-color: rgb(239, 231, 216);
}

.display-menu ul a {
  color: black;
}

header nav ul {
  display: block;
  text-align: center;
  padding: 25px 40px;
  background: ;
}

header nav li {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: 2.5px;
}

header nav li a {
  color: rgb(202, 173, 86);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

header .menu-button {
  float: right;
  position: absolute;
  top: -70px;
  right: -70px;
  width: 200px;
  height: 200px;
  background: url(img/hamburger_close.png) no-repeat center;
  background-size: 10% 10%;
}

header {
  display: block;
  position: relative;
}

.content {
  background-color: rgb(225, 211, 179);
  width: 95%;
  Margin: 0 auto;
  position: inherit;
  height: 100%;
}

.content img{
  margin-bottom:0;
}

.footer {
  background-color: pink;
  width: 95%;
  Margin: 0 auto;
  position: inherit;
  height: 100%;
  padding: 5px;
}

.buy {
  width: 100%;
  background-color: rgb(44, 44, 43);
  padding: 5px;
  color:white;
  text-transform:uppercase;
  font-size:1.2em;
  padding-left:10px;
  padding-right:10px;
  margin-top:0;
  
}

.buylink {
  padding: 6px;
  text-align: right;
  color:rgb(225, 211, 179);
}

.buylink a{
  padding: 5px;
  text-align: right;
  color:rgb(225, 211, 179);
  text-decoration:none;
}

.item {
  border-bottom: 1px solid rgb(236, 31, 39);
}

#about {
  background-color: rgb(239, 231, 216);
  margin-top: 10px;
  padding: 5px;
}

#about h1 {
  text-align:center;
  border-bottom:solid 1px black;
}
/* How to Get rid of the Hamburger */

@media screen and (min-width: 800px) {
  header .menu-button {
    display: none;
  }
  header {
    background-color: rgb(249, 224, 87);
    text-align: center;
    position: static;
    z-index: 999;
    width: 100%;
  }
  header .logo {
    display: block;
    border: none;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url("http://lmkootz.github.io/project2/img/logo.png");
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 0;
    background-repeat: no-repeat;
  }
  .clearfix {
    overflow: auto;
  }
  .content {
    background-color: green;
    width: 95%;
    Margin: 0 auto;
    position: inherit;
    height: 100%;
  }
  .product {
    width: 25%;
    float: left;
    padding: 5px;
  }
  .product img {
    width: 100%;
  }
}
/* My mobile Layout!! */

@media screen and (max-width: 800px) {
  body, html, {
    margin: 0;
  }
  .wrapper {
    width: 100%;
    position: static;
    z-index: 1;
    background-color: rgb(249, 224, 87);
    height: 100px;
    margin: 0;
  }
  .clearfix {
    overflow: auto;
  }
  header nav {
    visibility: hidden;
  }
  header .logo {
    display: inline-block;
    border: none;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    margin-top: 30px;
    background: url("http://lmkootz.github.io/project2/img/logo.png");
    background-size: cover;
  }
  
  header h1 {
    padding:14px;
  }
  
  header{
    position:static;}
  
  
  .show-menu-button {
    display: inline;
  }
  .content {
    padding: ;
  }
  .gallerywrap {
    margin-top: 10px;
  }
  .product {
    width: 100%;
    float: left;
  }
  .product img {
    width: 100%;
  }
}
/* Hamburger Menu */

.overlay {
  display: none;
  width: 100%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(249, 224, 87);
  z-index: 999;
}

.overlay nav {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.overlay nav ul {
  list-style: none;
}

.overlay ul li {
  padding: 15px;
}

.overlay li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

nav a.active {
  color: red;
}

.overlay .close-button {
  position: absolute;
  top: -70px;
  right: -70px;
  float: right;
  background: url(img/closebutton.png) no-repeat center;
  background-size: 10% 10%;
  width: 200px;
  height: 200px;
}