html body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'helvetica';
  background: yellow;
}
/* Global Header Navigation */

header .logo {
  border: solid 2px black;
  display: block;
  width: 100px;
  margin: 0 auto;
}

header nav ul {
  display: block;
  text-align: center;
  padding: 25px 40px;
}

header nav li {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: 2.5px;
}

header nav li a {
  color: rgb(202, 173, 86);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

header .menu-button {
  float: right;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background: url(http://lmkootz.github.io/project2/img/hamburger_close.png) no-repeat center;
  background-size: 10% 10%;
}
/* How to Get rid of the Hamburger! */

@media screen and (min-width: 768px) {
  header .menu-button {
    display: none;
  }
}
/* My mobile Layout!! */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: pink;
    height: 100px;
  }
  .clearfix {
    overflow: auto;
  }
  header nav {
    visibility: hidden;
  }
  header .logo {
    display: inline-block;
    border: none;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    margin-top: 30px;
    background: url("https://static.wixstatic.com/media/c763c1_ea2724919a7848a9a442bd46d0f974f3.png/v1/fill/w_70,h_64,al_c,usm_0.50_1.20_0.00/c763c1_ea2724919a7848a9a442bd46d0f974f3.png");
    background-size: cover;
  }
  .content {
    position: relative;
    top: 100px;
    background-color: aqua;
    display: block;
  }
  .show-menu-button {
    display: inline;
  }
}
/* cart Toggle */

.buy {
  background-color: pink;
  padding: 10px;
}
/* Hamburger Menu */

.overlay {
  display: none;
  width: 100%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: gold;
  z-index: 999;
}

.overlay nav {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.overlay nav ul {
  list-style: none;
}

.overlay ul li {
  padding: 15px;
}

.overlay li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

nav a.active {
  color: red;
}

.overlay .close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  float: right;
  background: url(http://lmkootz.github.io/project2/img/closebutton.png) no-repeat center;
  background-size: 10% 10%;
  width: 200px;
  height: 200px;
}